{% extends "base.html" %}
{% block title %}Music Player{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="container">
    <h1 id="colorful-heading">F1  LEAGUE  2023</h1>
    
    <div>
        <img src="{{ url_for('static', filename='images/F1-Logo.png') }}" alt="F1 Logo" class="top-left-logo">
        <img src="{{ url_for('static', filename='images/F1-Logo.png') }}" alt="F1 Logo" class="top-right-logo">

    </div>
    
    <nav class="button-menu">
        <button onclick="location.href='{{ url_for('start') }}'">Start Game</button>
        <button onclick="location.href='Scores.html'">Scores</button>
        <button onclick="location.href='About.html'">About</button>
        
        
        
    </nav>
   
    
</div>

<img src="{{ url_for('static', filename='images/ferrari-sf-23.jpg') }}" alt="F1 Cars Photo" class="main-photo" >



<p class = "credit">This is an educational project by Robyn Doyle</p>
<!-- <script src="{{ url_for('static', filename='js/color-changer.js') }}"></script> -->

<!-- <script>
    

function toggleAudio() {
    if (audio.paused) {
        audio.play();
    } else {
        audio.pause();
    }
}
// Start playing audio on page load (if allowed by browser)
window.addEventListener('load', function() {
    audio.play();
});
</script> -->
{% endblock %}
